body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/*global*/

.m{
  width: 95%;
  margin: auto;
}
.m1{
  width: 70%;
  margin: auto;
}
.m2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.m3{
  width: 70%;
  margin: auto;
}
.h
{
  display: none;
}
.rs{
  margin-left: 10px;
  width: 25px;
}
.d-b{
  display: block;
}
.d-ib{
  display: inline;
}
.di-b{
  display: inline-block;
}
.df{
  display: flex;
}
.fw-w{
  flex-wrap: wrap;
}
.di-g{
  display: inline-grid;
}
.di-f{
  display: inline-flex;
}
.jc-b{
  justify-content: space-between;
}
.jc-a{
  justify-content: space-around;
}
.jc-c{
  justify-content: center;
}
.ai-c{
  align-items: center;
}
.ai-b{
  align-items: baseline;
}
.ac-s{
  align-content: stretch;
}
.fd-c{
  flex-direction: column;
}
.fd-rr{
  flex-direction: row-reverse;
}
.ta-c{
  text-align: center;
}
.mx-w{
  width: 100%;
}
.mx-h{
  height: 100%;
}
.tt-u{
  text-transform: uppercase;
}
.lk{
  text-decoration: none;
  color: gray;
}
.ls-n{
  list-style: none;
}
/*.am{
  margin-top: 10px;
  margin-bottom: 10px;
}*/
ul{
  margin: 0;
  padding: 0;
}
section{
  margin: 0;
  padding: 0;
}
article{
  margin: 0;
  padding: 0;
}
/*animaciones*/
.btn-1:hover{
  transform: scale(1.1);
}
/*/animaciones*/

/*botones*/
.btn-1{
	border-radius: 30px;
	border: 2px solid red;
  padding: 10px 40px;
	cursor: pointer;
  margin: 20px;
  color: white;
  box-shadow: 0px 1px 3px 0px #1b1a1a;
  transition: 1s;
}
.btn-2{
  font-size: 16px;
  border-radius: 30px;
	border: 2px solid red;
  padding: 5px 25px;
	cursor: pointer;
  color: red;
}
.btn-3{
  margin-top: 8%;
}
.btn-4{
  width: 38px;
}
/*/botones*/

/*/global*/

/*color*/
.txt{
  color: white;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
/*/colores*/

/*titulo*/
.title-1{
  font-weight: 500;
  font-size: 40px;
}
.title-2{
  font-weight: 500;
  font-size: 36px;
}
.title-3{
  font-weight: 500;
  font-size: 25px;
}
/*/titulo*/

/*subtitulos*/
.subtitle-1{
  font-weight: 400;
  font-size: 24px;
}
.subtitle-2{
  font-weight: 400;
  font-size: 28px;
}
.subtitle-3{
  font-weight: 400;
  font-size: 32px;
}
/*/subtitulos*/

/*menu responsive*/
.mr{
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  position: fixed;
  width: 150px;
  left: -150px;
  z-index: 2;
  transition: .8s;
}

.ma{
  left: 0;
}
.f{
  position: fixed;
  top: 25px;
}
.bm{
  position: fixed;
  position: absolute;
  z-index: 4;
}
/*/menu responsive*/

/*avatar*/
.a-1{
  border-radius: 50%;
  width: 100px;
}
/*/avatar*/


/*texto enfasis*/
.tb{
  font-size: 25px;
  color: #4A4A4A;
}
.st-b{
  font-size: 20px;
  color: #4A4A4A;
}
/*parrafos*/
.p-1{
  color: #9B9B9B;
  font-size: 18px;
}
.p-2{
  color: #9B9B9B;
  font-size: 22px;
}
.p-3{
  color: #9B9B9B;
  font-size: 18px;
}
/*parrafos*/

/*/texto enfasis*/

/*tarjeta 1*/
.card-1{
  background-color: white;
  box-shadow: 0px 4px 4px 0px #888888;
  margin-bottom: 5%;
}

.card-2{
  background-color: white;
  box-shadow: 0px 4px 4px 0px #888888;
  margin-top: 5%;
}

.card-3{
  background-color: white;
  box-shadow: 0px 4px 4px 0px #888888;
  margin-bottom: 5%;
}

.card-txt-1{
  text-align: left;
  width: 100%;
}
.card-txt-3{
  text-align: left;
  width: 66%;
}
.card-txt-2{
  width: 70%;
}
.card-img{
  width: 300px;
  height: 100%;
}
/*/tarjeta 1*/

.p{
  border: solid 2px red;
}

footer{
  padding-top: 35px;
  padding-bottom: 35px;
  background: #274359;
  height: 200px;
  margin-top: 10%;
  color: white;
}
input[placeholder] {
  outline: 0px;
}
::-webkit-input-placeholder { color: #6f7982; }

/*version tablet*/

@media screen and (max-width: 850px) {

  /*menu responsive*/
  .mr{
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    position: fixed;
    width: 150px;
    left: -150px;
    z-index: 2;
    transition: .8s;
  }
  .m1{
    width: 40%;
  }
  .m3{
    width: 90%;
    flex-direction: column;
  }
  .ma{
    left: 0;
  }
  .am{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bm{
    z-index: 4;
    position: fixed;
    position: absolute;
  }
  /*/menu responsive*/
  .card-txt-1 {
    width: 100%;
  }
  .card-txt-2{
    text-align: left;
    width: 85%;
    padding: 20px;
  }
.fw-w-m{
    flex-wrap: wrap;
  }
.card-img{
  width: 100%;
}
.title-1{
  font-weight: 500;
  font-size: 30px;
}
.subtitle-2{
  font-weight: 400;
  font-size: 20px;
}
.p-1{
  color: #9B9B9B;
  font-size: 16px;
  margin: 4px 0 16px 0;
}
/*/version tablet*/
/*version movil*/
@media screen and (max-width: 476px) {
  /*menu responsive*/
  .mr{
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    position: fixed;
    width: 150px;
    left: -150px;
    z-index: 2;
    transition: .8s;
  }

  .ma{
    left: 0;
  }

  .bm{
    z-index: 4;
    position: fixed;
    position: relative;

  }
  /*/menu responsive*/
.fw-w-s{
  flex-wrap: wrap;
}
.card-img{
  width: 100%;
  }

.m1{
  width: 90%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
}
.card-txt-1{
  width: 95%;
}
.am{
  margin-top: 10px;
  margin-bottom: 10px;
}

}
/*/version movil*/


/*otras medidas*/
/*@media (min-width: 992px)
@media (min-width: 1200px) */
/*/otras medidas*/

/*efectos*/
/*.class{
  transform: rotate(360deg) scale(1.5) skew(45deg) translatex(300px);
  transition:
}
.contenedor.productos.mediano{
  background: red;
  color: red;
}*/
/*/efectos*/
