@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uk3ba3');
  src:  url('../fonts/icomoon.eot?uk3ba3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uk3ba3') format('truetype'),
    url('../fonts/icomoon.woff?uk3ba3') format('woff'),
    url('../fonts/icomoon.svg?uk3ba3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Twitter:before {
  content: "\e902";
  font-size: 37px;
  color: white;
  padding: 2px;
}

.icon-Facebook-1:before {
  content: "\e906";
  font-size: 35px;
  color: white;
  padding: 2px;
}
.icon-whatsapp2:before {
  content: "\e905";
  font-size: 35px;
  color: white;
  padding: 2px;
}
.icon-linea:before {
  content: "\e901";
  font-size: 35px;
  color: white;
  padding: 2px;
}
.icon-rigth:before {
  content: "\e903";
  font-size: 50px;
  color: white;
  padding: 2px;
}
.icon-Rigth:before {
  content: "\1f329";
  font-size: 50px;
  color: white;
  padding: 2px;
}





body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

    /*margenes*/

.margenes{
	width: 900px;
	margin: auto;
}

	/*centrado*/

.centrar-1{
	text-align: center;
}

header{
	position: relative;
}


	/*logotipo*/


.logotipo{
	display: inline-block;
}
.logo-tipo{
	display: none;
}


	   /*menu 1*/

.menu-1 {
	display: inline-block;
	position: absolute;
	right: 50px;
	font-weight: 300;
	font-size: 17px;
	margin-top: 15px;
}

.menu-1 li{
	display: inline-block;
	text-decoration: none;
	margin-left: 15px;
}
.menu-1 li: hover{
	border: 1px solid red;
}

 
.figure-avatar{
	margin:0;
	padding-top: 40px;
}

.avatar{
	background: #D8D8D8;
	border: 3px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0px 8px #a4a4a4;
}

a{
	color: white;
	text-decoration: none;
}

.background-portada {
	background-image: url('../img/Background1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 480px;
}
.background-perfil{
	background: #F7F7F7;
}

.boton-1{
	padding: 10px 40px;
	border-radius: 200px;
	border-bottom-color: #F44336;
    border-top-color: #FF5F3B;
    border-right-color: #FF5F3B;
    border-left-color: #F44336;
	background: rgba(255, 0, 0, 0);
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px; 
	margin-bottom: 28px;
	cursor: pointer;
}

.boton-2{
	border-radius: 20px;
	border-bottom-color: #F44336;
    border-top-color: #FF5F3B;
    border-right-color: #FF5F3B;
    border-left-color: #F44336;
	background: rgba(255, 0, 0, 0);;
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.1em;
	cursor: pointer;
}
.bordederedes{
	border-top: 2px solid #D8D8D8;
	margin: auto;
	width: 151px;
    padding-top: 7px;
}

.titulo-1 {
	color: white;
	padding-top: 100px;
	margin-top: 0;
	margin-left: 20px;
	font-size: 40px;
}
.titulo-2{
	color: #4A4A4A;
	font-size: 24px;
	font-weight: 400;
	margin: 0;
	letter-spacing: 1px;
}
.titulo-3{
	color: #8E8E93;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	padding: 0 0 21px 0;
	letter-spacing: 1px;
}
.titulo-4, .icon-rigth, .redes-responsive{
	display: none;
}
article{
	display: inline-block;
	margin: 1px;
}
/*article li:first-child {
    margin: 0;
  }*/
.icon-top{
	display: none;
}


.footer{
	background-color: #2C3C49;
	color: white;
	margin-top: 100px;
	padding-top: 60px;
	padding-bottom: 30px;
}
.responsive-1{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.col1, .col2{
	width: 400px;
	margin: 0;
}
.article{
	margin: 10px;
}
.formulario{
	display: flex;
    width: 360px;
}
.img-footer{
	margin-right: 120px;
}
input, textarea{
	border-radius: 4px;
	margin-bottom: 15px;
	outline: 0;
}
input:focus, textarea:focus{
	background: #D8D8D8;
} 
h4{
	font-size: 14px;
}
h3{
	margin: 60px 0;
}


@media screen and (max-width: 900px){

	.margenes{
		width: auto;
		max-width: 800px;
	}
    .avatar{
		width: 100px;
    	height: 100px;
	}
	.titulo-1{
	font-size: 30px;
	}
	.titulo-2{
		font-size: 20px;
	}
	.titulo-3{
		font-size: 16px;
	}
	.background-portada{
		background-position: center;
	}
	.boton-1{
		font-size: 12px;
	}
}

@media screen and (max-width: 670px){
	
	.icon-Twitter:before {
	  content: "\e902";
	  font-size: 32px;
	  color: white;
	  padding: 2px;
	  margin-right: 5px;
	}

	.icon-Facebook-1:before {
	  content: "\e906";
	  font-size: 30px;
	  color: white;
	  padding: 2px;
	  margin-right: 5px;
	}
	.icon-whatsapp2:before {
	  content: "\e905";
	  font-size: 30px;
	  color: white;
	  padding: 2px;
	  margin-right: 5px;
	}
	.icon-hamburguesa:before {
  	  content: "\e900";
	}

	header{
		text-align: center;
	}
	.menu-1{
		display: block;
    	position: static;
	}
	.menu{
		display: block;
		background: rgba(44, 60, 73, 0.9);
		position: absolute;
		top: 0;	
		right: 200px;
		bottom: 0;
		z-index: 3;
		text-align: center;
		width: 60%;
		position: fixed;
		transition: .3s;
	/*	-webkit-filter: blur(7px);
  		-moz-filter: blur(7px);
  		-o-filter: blur(7px);
  		-ms-filter: blur(7px);
  		filter: blur(7px);*/
    	left: -120%;
    	
	}
	.menu.active {
    left: 0;
  	}
	.menu-1 ul{
		padding: 0;
		font-weight: 600;
	}

	.logotipo{
		margin-bottom: 40px;
		margin-top: 90px;
	}
	.img-logo{
		width: 120px;
	}
	.menu-1 li{
		display: block;
		text-decoration: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.figure-avatar {
    margin-top: 60px;
	}
	.avatar{
	    border: 1.8px solid #FFFFFF;
	    border-radius: 50%;
	    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.58);
	}
	.titulo-1{
		display: none;
	}
	.titulo-2{
		margin-top: 20px;
		color: white;
		font-size: 14px;
	}
	.titulo-3{
		font-size: 10px;
		color: white;
		margin-top: 3px;
		color: #d2d2d2;
	}
	.titulo-4{
		display: block;
		font-size: 14px;
		color: white;
		font-weight: 400;
		margin: 60px 0;
	}
	.icon-rigth{
		display: block;
		background: -webkit-linear-gradient(#FF5F3B, #FF2A68);
	  	-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent;
	  	color: tomato;
	}
	.boton-1{
		margin-bottom: 0px;
	 	margin-top: 60px;
	 	font-weight: 500;
    	letter-spacing: 1px;
	}
	.background-portada{
		height: 680px;
		background-position: center;
	}
	.col1, .col2 {
    	width: 100%;
	}
	.formulario {
    	display: block;
    	width: 300px;
		
	}
	article img{
		width: 300px;
	}

	input[type="text"],
	input[type="email"] {
	   font-size: 16px;
	   padding: 5px;
	   width: 100%;
  	}
  	textarea {
		width: 100%;
  	}
  	.img-footer {
     margin-right: 0;
     text-align: center; 
	}
	.bordederedes{
		display: none;
	}
	.redes-responsive{
		border-top: 0;
		display: flex;
		justify-content: center;
		font-size: 20px;
	}
	.icon-hamburguesa{
		color: white;
		position: absolute;
		top: 35px;
		left: 30px;
		cursor: pointer;
		z-index: 4;
		/*position: fixed;*/
		background: -webkit-linear-gradient(#FF5F3B, #FF2A68);
	  	-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent;
	  	color: tomato; 
	}
	.logo-tipo{
		display: block;
		position: absolute;
    	right: -21px;
    	top: 4px;
	}
	.icon-top{
		display: block;
	}
	}	



/*	.padre {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hijo {
    width: 200px;
    height: 200px;
    margin: 40px;
    background: green;
    border: 1px solid blue;
}*/
