body{
  background: #F2F2F2;
}
.bg{
  background: white;
}

/*nav*/
.header{
  padding-top: 15px;
}

figure{
  margin: 0;
}

nav{
  font-size: 22px;
}
/*/nav*/
li{
  margin-top: 10px;
}
.tag{
  margin-top: 50px;
}

/*section*/
.portada{
  background: #274359;
  min-height: calc(100vh - 48px);
  /*background-image: url('http://jesusmontero.co/img/Avatar-Jesus%20Montero.jpg');*/
}
.section-blog{
  background: white;
}
.etiquetas{
  background: red;
}
.blog{
  background: #274359;
}
.noticias{
  background: white;
}
/*/section*/

.personal{
  margin-top: 8%;
  font-weight: 800;
}

.subtitle{
  margin-bottom: 25%;
}

/*button*/

/*/button*/

/*img blog*/
.img-blog{
 width: 100%;
 height: 225px;
}
/*/img blog*/

/*portafolio*/
.portafolio-text{
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}
.text-blog{
  margin-top: 10px;
}
.nav-blog{
  background: #274359;
}
.portafolio{
  border: 2px solid red;
}
/*/portafolio*/


/*footer*/
.personal-footer{
  color: white;
}
/*/footer*/

.article-page{
  margin: 0;
  padding: 0;
  height: 300px;
}
.article-blog{
  margin: 50px 0;
  padding: 0;
  width: 100%
}

/*input*/
input{
  font-size: 16px;
  text-align: center;
  background: #274359;
  color: white;
  border-left: #274359;
  border-right: #274359;
  border-top: #274359;
  width: 250px;
  margin-right: 5px;
}
/*input, textarea{
  color: red;
}*/

/*/input*/

@media screen and (max-width: 700px) {
 .m4{
   width: 90%;
 }
}
