body{
  background: #F2F2F2;
}


/*nav*/
.header{
  padding-top: 15px;
}

figure{
  margin: 0;
}

nav{
  font-size: 22px;
}
/*/nav*/
li{
  margin-top: 10px;
}
/*section*/
.portada{
  background: #274359;
  min-height: calc(100vh - 48px);
  /*background-image: url('http://jesusmontero.co/img/Avatar-Jesus%20Montero.jpg');*/
}
/*/section*/

.personal{
  margin-top: 8%;
  font-weight: 800;
}

.subtitle{
  margin-bottom: 25%;
}

/*button*/

/*/button*/

/*portafolio*/
.portafolio-text{
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.portafolio{
  border: 2px solid red;
}
/*/portafolio*/


/*footer*/
.personal-footer{
  color: white;
}
/*/footer*/

/*input*/
input{
  font-size: 16px;
  text-align: center;
  background: #274359;
  color: white;
  border-left: #274359;
  border-right: #274359;
  border-top: #274359;
  width: 250px;
  margin-right: 5px;
}
/*input, textarea{
  color: red;
}*/

/*/input*/
