@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?sedf8');
	src:url('../fonts/icomoon.eot?#iefixsedf8') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?sedf8') format('truetype'),
		url('../fonts/icomoon.woff?sedf8') format('woff'),
		url('../fonts/icomoon.svg?sedf8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-whatsapp:before {
	content: "\e600";
	color #444444
	margin-right 0.3em
	
}
.icon-mail:before {
	content: "\ea83";
	color #444444
	margin-right 0.3em 
}
.icon-facebook2:before {
	content: "\ea8d";
	color #444444
	margin-right 0.3em 
	
}
.icon-twitter2:before {
	content: "\ea92";
	color #444444
	margin-right 0.3em 
	
}
.icon-dribbble2:before {
	content: "\eaa7";
	color #444444
	margin-right 0.3em 
	
}
.icon-github3:before {
	content: "\eab3";
	color #444444
	margin-right 0.3em 
	
}
.icon-skype:before {
	content: "\eac6";
	color #444444
	margin-right 0.3em 
}


