doctype html
html(lang="es")	
head
	meta(charset="utf-8")
	meta(name="description" content="Este es el portafolio de Jesus Montero Diseñador grafico, estratega digital y desarrollador web!")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="shortcut icon", href="favicon.ico")
	link(rel="stylesheet", href="foundation/css/foundation.css")
	link(rel="stylesheet", href="css/estilos.css")
	title Jesus Montero

//- body
//- 	nav(class="top-bar" data-topbar role="navigation")
//- 		ul(class="title-area")
//- 			li(class="name")
//- 				h1
//- 					a(href="#">Jesus Montero)

//- 			li(class="toggle-topbar menu-icon"><a href="#")

