@import "normalize.styl"

body
	font-family 'Roboto', sans-serif


.Seccion
	background-image url("../images/img_principal.jpg")
	width 100%
	margin 0
	height 500px
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	
	

.Figuraa
	margin 10px
  	top 200px
  	width 100%
  	position absolute
	padding-top 5em
	display inline-block
  	

		
.Miavatar
	margin-left 100px
	width 170px
	height 170px
	border 4px solid white
	border-radius 50%
	

@media screen and (min-width: 600px)


.Figuraa
	margin 0
  	left 100px
  	top 200px
  	width 100%
  	position absolute
	padding-top 5em
	

.Miavatar
	width 170px
	height 170px
	border 4px solid white
	border-radius 50%